*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    background: url(images/workCoffee.jpg) no-repeat center center/ cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-container{
    width: 350px;
    padding: 20px 10px;
    margin-bottom: 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 7px black;   
    display: flex;
}

input{
    flex: 5;
    font-size: 1.3rem;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid grey;
    margin: 0 5px;
}

#add-task{
    flex: 1;
    font-size: 1.3rem;
    border: 2px solid lightseagreen;
    border-radius: 6px;
    color: lightseagreen;
    background-color: white;
    transition: .3s;
}

#add-task:hover{
    background-color: lightseagreen;
    color: white;
}


/* Stylings for task lists */

.task{
    width: 100%;
    margin-bottom: 4px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 3px black;

}

.task li{
    font-size: 1.3rem;
    list-style-type: none;
    margin: 7px 0;
    flex: 4;
}

.task button{
    flex: 1;
    border-radius: 5px;
    font-size: 1.4rem;
    margin: 5px;
}

.checkTask{
    color: green;
    border: 2px solid green;
    background-color: white;
    cursor: pointer;
}
.deleteTask{
    color: orange;
    border: 2px solid orange;
    background-color: white;
    cursor: pointer;
}

.checkTask:hover{
    color: white;
    background-color: green;
}

.deleteTask:hover{
    color: white;
    background-color: orange;
}

.underline{
    text-decoration: line-through;
}